@font-face{
    font-family: 'miFuente';
    src: url(../fuentes/Tourner.ttf);
}

#fuentep{
    font-family: 'miFuente';
    font-size: 24px;
}
#fuentes{
    font-family: 'miFuente';
    font-size: 16px;
}