@font-face{
    font-family: 'miFuente';
    src: url(../fuentes/Tourner.ttf);
}
@font-face{
    font-family: 'mine';
    src: url(../fuentes/Minecrafter.Alt.ttf)
}
#fuentep{
    font-family: 'miFuente';
    font-size: 24px;
}
#fuentes{
    font-family: 'miFuente';
    font-size: 16px;
}
#fuentem{
    font-family: 'mine';
    font-size:12px;
}