
html, body{
    background-color:#4e4e4e;
}

.main-container{
    border: 5px solid rgb(29, 30, 87);
    border-radius: 10px;
    margin: 2rem;
    background-color: #ffffff;
}

.vaca{
    display:inline-block;
    width: 65% ;
    height: auto ;
    float: left;
    text-align: left ;
    background-color: rgb(168, 168, 168);
}

nav, section, footer, article{
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

aside{
    width: 25%;
    display:inline-block;
    height: 300px;
    background-color: rgb(107, 107, 107);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100%;
    text-align: center;
}

aside > h3{
    text-align: center;
    position: relative;
    top: 50%;
}

.bagre{
    position: relative;
    top: ;
    left: 0% ;
}
nav, section, footer{
    background-color: #dadada;
}