
html, body{
    background: url(../img/fm.jpg);
    background-repeat: no-repeat;
}

.main-container{
    border: 5px solid rgb(29, 30, 87);
    border-radius: 10px;
    margin: 2rem;
}

.vaca{
    display:inline-block;
    width: 65% ;
    height: auto ;
    float: left;
    text-align: left ;
    background-color: rgb(255, 255, 255);
}

nav, section, footer, article{
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: fantasy;
}

aside{
    width: 25%;
    display:inline-block;
    height: 300px;
    background: url(../img/fondo.png);
    border: 2px solid rgb(29, 34, 61);
    border-radius: 100%;
    text-align: center;
    color: #ffffff;
}

aside > h3{
    text-align: center;
    position: relative;
    top: 60%;
}

.pick{
    position: relative;
    left: 0% ;
}
img{
    border-radius: 10px;
    border: 5px solid #3f2106;
}
footer{
    width: 25%;
    display:inline-block;
    height: 100px;
    background: url(../img/fondo.png);
    border: 2px solid rgb(29, 34, 61);
    border-radius: 10%;
    text-align: center;
    color: #ffffff;
}
nav, footer{
    background: url(../img/fondo.png);
}